*
{
	 margin: 0px;
	 padding: 0px;
}

body
{
	font-size: 14px;
	text-transform: uppercase;
}
 ul
 {
 	margin-left: 20px;
 }

ul ul
{
	margin-left: 40px;
}
 ul li a
 {

 }
li ul
{
	margin-bottom: 10px;
}
li
{
	margin-bottom: 5px;

}
li a
{
	opacity: 0.8;
	color: #333;
}
 li.check  > a
 {
 	opacity: 1;
 	display: block;
 	font-weight: bold;
 	 color: #0037ff;
 }