.btn-file
	position: relative;
	overflow: hidden;
.custom-mb-01
	margin-bottom 15px;
.btn-file 
	input[type=file]
	
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;


.custom-panel-condensed
	.form-group
		margin-bottom 0px;
		
		p
			margin-bottom 0px
.custom-form-group
	margin-bottom 15px

.custom-bg-01
	background: url(../images/fondo.jpg) no-repeat;
	background-size: cover;
.custom-shadow
	text-shadow: 0px 1px 2px rgba(66, 66, 66, 1);

.custom-title-01
	color #fff
	font-size 40px

.logo
	padding-top 12px
	img
		height 35px;
	

.fila
	display block
	overflow hidden
	margin-bottom 5px
table
	caption
		h4.title
			padding-left 15px

.mod-comunicados
	.mod-comunicados-content
		overflow-y auto
		height 500px

.acordion
	a.active
		text-decoration underline
		font-weight bold
	.glyphicon 
		margin-right:10px
	.panel-body
		padding:0px
	.panel-body 
		table 
			tr 
				td
					padding-left: 15px
	.panel-body 
		.table
			margin-bottom: 0px


.btn-custom-01
	color #fff
	span
		font-size 21px
		vertical-align middle
		margin-right 10px
		
	b
		font-weight bold
		
	&:hover
		color #fff
		text-decoration underline
.custom-footer-login 
	border-top solid 2px #333
	.row
		margin-top 5px
		margin-bottom 5px
 
 +and-above(l)
	.form-horizontal .control-label.text-left
		text-align  left !important


	
.custom-shadow-01
	background-color #000
	opacity 0.5
	position absolute
	width 100%
	height 100%
	z-index 0
	
.custom-top-bar
	background-color #06419D
	padding 5px 10px;
	
	h1,h2,h3,h4
		padding 0px
		margin 0px
		
	h3
		color #fff
		

.custom-top-menu
	.navbar-brand
		font-size 25px 
		img
			margin-top -5px
			display inline-block
			
.custom-well-01
	&:hover
		opacity 0.8
		h3,p
			text-decoration none
			
.custom-well-link
	&:hover	
		text-decoration none
		
	h5
		color #000
		font-weight bold
		
		font-size 16px
	
	p
		color #333
		

@media screen and (min-width: 767px)		
	.col-custom-items
		width 50%
		min-height 150px
		
		.hidden-xs.visible-sm
			display none !important
			
		.visible-xs
			display block !important
		
@media screen and (min-width: 860px)		
	.col-custom-items
		width 33%	
		text-align center
		
		.visible-xs
			display none !important
			
		.visible-sm, .hidden-xs.visible-sm
			display block	 !important
			
				
@media screen and (min-width: 995px)		
	.col-custom-items
		width 20%
		
		h5
			font-size 13px
			text-align center
			

.btn.active
	text-decoration underline
	opacity 0.8
		
.btn-primary
	background-color hsl(231, 68%, 22%) !important
	background-repeat repeat-x
	
	background-image -khtml-gradient(linear, left top, left bottom, from(#1f32a2), to(#111d5e))
	background-image -moz-linear-gradient(top, #1f32a2, #111d5e)
	background-image -ms-linear-gradient(top, #1f32a2, #111d5e)
	background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f32a2), color-stop(100%, #111d5e))
	background-image -webkit-linear-gradient(top, #1f32a2, #111d5e)
	background-image -o-linear-gradient(top, #1f32a2, #111d5e)
	background-image linear-gradient(#1f32a2, #111d5e)
	border-color #111d5e #111d5e hsl(231, 68%, 18%)
	color #fff !important
	text-shadow 0 -1px 0 rgba(0, 0, 0, 0.26)
	